/*17*/
$texthomMT:50px;
$leftSpace: 15px;
$linkSize:25px;
$linkMT:20px;
$linkP:10px;
$linkW:250px;
$linkaML:40px;
$h1MT: 60px;
$h1Size:65px;
$radius:20px;
$formMT: 100px;
$formML: 50px;
$bannerMT:80px;
$bannerMB:80px;
$contentMT: 60px;
$letterSpacing:2px;
$lineH:30px;
$bannerArticleMT:50px;
$bannerArticleMB:25px;
$cardMT: 100px;
$cardML: 20px;
$Orange:#f9844a;
$borderWidth:1px;

